<div class="col-10 col-lg-8">
  <div class="experience-entry-heading">
    {{ $feature:= index .positions 0 }}
    <!-- For single position, give emphasis on the designation-->
    <h5>{{ $feature.name }}</h5>
  </div>
  <!-- Add feature overview -->
  {{ if $feature.content }}
    {{ $feature.content | markdownify }}
  {{ end }}
  {{ if or ($feature.content_left) ($feature.content_right) }}
      <div class="row">
        <div class="col-lg-6">
          {{ $feature.content_left | markdownify }}
        </div>
        <div class="col-lg-6">
          {{ $feature.content_right | markdownify }}
        </div>
      </div>
  {{ end }}
</div>
